logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
coverage/

.env
.env.local
.env.*.local

/cypress/videos/
/cypress/screenshots/

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.Trash-*

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.vite/
.cache/
.temp/
.jest-cache/
jest-cache/
*.spec.ts.snap

.nuxt/
.next/

!data.json

*.local
